.security-row{

    display:flex;

    justify-content:space-between;

    align-items:center;

    padding:22px 0;

    border-bottom:1px solid rgba(255,255,255,.06);
}

.security-row:last-child{

    border-bottom:none;
}

.security-left{

    display:flex;

    align-items:center;

    gap:18px;
}

.security-icon{

    width:60px;

    height:60px;

    border-radius:18px;

    display:flex;

    justify-content:center;

    align-items:center;

    background:linear-gradient(
        135deg,
        #4F8CFF,
        #7C5CFC
    );

    color:white;

    font-size:22px;
}

.security-left h3{

    color:white;

    font-size:18px;

    margin-bottom:6px;
}

.security-left p{

    color:#94A3B8;

    font-size:14px;
}

.settings-action{

    display:flex;

    align-items:center;

    gap:10px;

    border:none;

    padding:14px 22px;

    border-radius:14px;

    cursor:pointer;

    background:#1E293B;

    color:white;

    font-size:15px;

    font-weight:600;

    transition:.3s;
}

.settings-action:hover{

    background:linear-gradient(
        135deg,
        #4F8CFF,
        #7C5CFC
    );

    transform:translateY(-3px);
}